<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><%= title %></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/about">Qui sommes-nous ?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Relation client</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Nos solutions</a>
    </li>
  </ul>
</nav>
